$rightSidebarBgColor :  #2C2C2C 0% 0% no-repeat padding-box
$leftSidebarBgColor :  transparent linear-gradient(180deg, #333232 0%, #0F0F0F 100%) 0% 0% no-repeat padding-box
$sidebarWidth: 243px
$mainBarBgColor : #343434 0% 0% no-repeat padding-box
$bg-overlay-1: rgba(255,0,120,.5)
$bg-overlay-2: rgba(25,120,220,.5)
$cardWrapperBgColor: #eaebec

$opposite-bg-overlay-hover: rgba(0,0,0,.65)

$bg-width-on-hover: 85%

$left-bg: url('http://andrewerrico.com/jura-panorama.jpg')
$right-bg: url('https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b')


$trans-bg-move:       '500ms all ease-in-out'
$trans-bg-fade:       '500ms all ease-in-out'
$trans-h1-underline:  '500ms all ease-in-out'
$trans-cta-underline: '300ms all ease-in-out'